.login{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .windowlogin{
        width: 90%;
        max-width: 400px;
        height: 70vh;
        max-height: 500px;
        border-radius: 20px;
        border: 3px solid #140d0b;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #ffc0ad;
        h2{
            font-size: 30px;
            color: #140d0b;
        }
        form{
            padding-top: 10vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            input{
                width: 80%;
                padding: 10px;
                margin-bottom: 30px;
                outline: none;
                border: 2px solid #140d0b;
                border-radius: 5px;
            }
            button{
                width: 70%;
                padding: 10px;
                background-color: #55423d;
                border: 1px solid #140d0b;
                color: #fff3ec;
                border-radius: 5px;
            }
        }
    }
}