.taskbox{
    width: 80%;
    height: 100px;
    background-color: #2B2E43;
    border-radius: 10px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-weight: 700;
    font-size: 24px;
    color: white;
    @media (max-width:600px) {
        font-size: 20px;
    }
    @media (max-width:400px) {
        font-size: 16px;
    }
    p{
        width: 75%;
        overflow: hidden;
        text-overflow: clip;
        text-overflow: ellipsis;
        text-overflow: "…";
        @media (max-width:850px) {
            width: 70%;
        }
        @media (max-width:570px) {
            width: 85%;
        }
    }
    form{
        width: 100%;
        display: flex;
        justify-content: space-around;
        input{
            width: 75%;
            height: 50%;
        }
        button{
            width: 25%;
            height: 50%;
            border: none;
            background-color: transparent;
            color: white;
            font-size: 30px;
            cursor: pointer;
        }
    }
    .icons{
        width: 20%;
        display: flex;
        justify-content: space-around;
        padding-right: 20px;
        .icon{
            cursor: pointer;
        }
        @media (max-width:850px) {
            width: 30%;
            justify-content: space-around;
        }
        @media (max-width:570px) {
            width: 15%;
            height: 90%;
            flex-direction: column;
        }
    }
}