.contentinit{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #140d0b;
    width: 100%;
    height: 90vh;
}

.contenttasks{
    display: flex;
}

.tasks{
    width: 50%;
    height: 90vh;
    border-right: 1px solid #271c19;
    h3{
        font-size: 2em;
        text-align: center;
        border-bottom: 2px solid #271c19;
        margin-top: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        color: #140d0b;
    }
}

.completetasks{
    width: 50%;
    height: 90vh;
    border-left: 1px solid #271c19;
    h3{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        font-size: 2em;
        text-align: center;
        border-bottom: 2px solid #271c19;
        margin-top: 0px;
        color: #140d0b;
    }
}