.task{
    width: 100%;
    height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

    .logout{
        background: #484C69;
        border-radius: 10px;
        border: none;
        width: 135px;
        height: 66px;
        color: #FFFFFF;
        font-family: 'Julee';
        font-size: 24px;
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
        @media (max-width:800px) {
            width: 105px;
            height: 40px;
            font-size: 18px;
        }
        @media (max-width:500px) {
            width: 80px;
            height: 35px;
            font-size: 15px;
        }
    }

    h1{
        font-size: 96px;
        color: #FFFFFF;
        font-family: 'Julee';
        @media (max-width:800px) {
            font-size: 80px;
        }
        @media (max-width:560px) {
            font-size: 60px;
            margin-right: 100px;
        }
        @media (max-width:350px) {
            font-size: 50px;
            margin-right: 100px;
        }
    }

    form{
        width: 60%;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        margin-left: 16px;
        @media (max-width:800px) {
            width: 75%;
            height: 70px;
        }
        .add{
            background-color: transparent;
            border: none;
            color: #4EB879;
            font-size: 120px;
            font-weight: bold;
            line-height: 0;
            margin-top: -25px;
            cursor: pointer;
            margin-left: 16px;
            @media (max-width:800px) {
                font-size: 100px;
            }
        }
        input{
            width: 80%;
            height: 80px;
            padding-left: 20px;
            border-radius: 10px;
            border: none;
            @media (max-width:800px) {
                height: 60px;
            }
        }
    }

    .box{
        width: 70%;
        height: 65vh;
        background-color: #484C69;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-content: flex-start;
        flex-direction: row;
        overflow-y: scroll;
        flex-wrap: wrap;
        @media (max-width:800px) {
            width: 85%;
        }
    }
    .box::-webkit-scrollbar{
        width: 20px;
    }
    .box::-webkit-scrollbar-track{
        box-shadow: inset 0 0 10px 10px #484C69;
        border: solid 9px transparent;
    }
    .box::-webkit-scrollbar-thumb{
        box-shadow: inset 0 0 10px 10px #2B2E43;
        border: solid 9px transparent;
    }
}